.efect-la-click{
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: -45px;
    margin-left: -45px;
    border: 5px solid dodgerblue;
    pointer-events: none;
    border-radius: 50%;
    animation: animatie-la-click .6s linear;
    opacity: 0;
    z-index: 5;
}
@keyframes animatie-la-click{
    from{
        opacity: 1;
        transform: scale(.1);
    }
    to{
        opacity: 0;
        transform: scale(1);
    }
   /* 0%{
        opacity: 1;
        transform: scale(.1);
    }
    10%{
        opacity: 1;
        transform: scale(.2);
    }
    20%{
        opacity: 1;
        transform: scale(.3);
    }
    30%{
        opacity: 1;
        transform: scale(.4);
    }
    40%{
        opacity: .9;
        transform: scale(.5);
    }
    50%{
        opacity: .7;
        transform: scale(.6);
    }
    60%{
        opacity: .5;
        transform: scale(.7);
    }
    70%{
        opacity: .3;
        transform: scale(.8);
    }
    80%{
        opacity: .1;
        transform: scale(.9);
    }
    90%{
        opacity: 0;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1);
    }*/
}